.selected {
  background-color: darkgray !important;
}

.row-0 {
  background-color: #6a2c70;
}

.row-1 {
  background-color: #f9ed69;
}

.row-2 {
  background-color: #f08a5d;
}

.row-3 {
  background-color: #b83b5e;
}
